.env
/venv
Funciones-de-activacion-IHRP.odt
Funciones-de-activacion-IHRP.pdf
ejecucion-de-codigo.png
Reglas_Copa_FutBotMX_v3_2026-01-21.pdf
# Entorno virtual
tf_env/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Editor
.vscode/

# Archivos temporales
*.log
*.tmp

